{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/relases/v5.15.0/css/all.css">
    <link rel="shortcut icon" type="image/png" href="'favicon.ico'"/>
</head>
<body>
<aside bgcolor="#708090" >
    <img src="{% static 'static/img/logo.jpg' %}" alt="Лого" width="5%">
    <ul>
        <h1 align="center">Меню</h1>
        <br>
        <td><a href="/" ><li><h2 class="meny"> Расписнание</h2></li></a></td>
        <br>
        <td><a href="/task"><li><h2 class="meny"> Задачи</h2></li></a></td>
        <br>
        <td><a href=""><li><h2 class="meny"> Чат</h2></li></a></td>
    </ul>
</aside>
<main>
    {% block content %}
    {{lessons}}
    {% endblock %}
</main>
<a href="/egg">пасхалка</a>
</body>
</html>