{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/relases/v5.15.0/css/all.css">
    <link rel="shortcut icon" type="image/png" href="'favicon.ico'"/>
</head>
<body>
<table border="0px">
    <tr>
        <td bgcolor="#adadad" width=25%>
            <img src="{% static 'static/img/logo.jpg' %}" alt="Лого" width="5%">
            <h1 align="center">Меню</h1>
            <br>
            <ul>
                <li><a href="/">Расписнание</a></li>
                <li><a href="/task">Задачи</a></li>
                <li><a href="">Чат</a></li>
            </ul>

        </td>
        <td><img src="https://avatars.mds.yandex.net/get-altay/2887807/2a00000184ccfb49678324babdce998c20d7/XXXL" alt="school" height=25%></td>
    </tr>
    <tr>
        <td bgcolor="black"></td>
        <td>
            {% block content %}
            {{lessons}}
            {% endblock %}
        </td>
    </tr>
</table>
<a href="/egg">пасхалка</a>
</body>
</html>