{% extends 'timetable/layout.html' %}

{% block title %}Расписание{% endblock %}
{% block style %}{% endblock %}

{% block content %}
    <h1 align="center">Расписание</h1> <br>
    <table  class="Timetable_Monday" border="2" width=50% align="center">
        <tr bgcolor="#C0C0C0">
            <td colspan="4" align="center">
                <h3>Понедельник</h3>
            </td>
        </tr>
        <tr>
            {% for urok in lessons %}

            {% if urok.day_of_week == "1" %}
            <tr><td width="26%"><p>{{ urok.lesson_id.title }}</p></td>
                <td align="center" width="15%">{{ urok.start }}-{{ urok.end }}</td> <td align="center" width="36%"> {{ urok.lesson_id.teacher.familiya }} {{ urok.lesson_id.teacher.imya }} {{ urok.lesson_id.teacher.otchestvo }}</td>
                    <td align="center">{{ urok.lesson_id.room }}</td>
            </tr>
            {% endif %}
            </tr>
            {% endfor %}
        </tr>
    </table>

    <table class="Timetable_Monday" border="2" width=50% align="center">
        <tr bgcolor="#C0C0C0">
            <td colspan="4" align="center">
                <h3>Вторник</h3>
            </td>
        </tr>
        <tr>
            {% for urok in lessons %}

            {% if urok.day_of_week == "2" %}
            <tr><td width="26%"><p>{{ urok.lesson_id.title }}</p></td>
                <td align="center" width="15%">{{ urok.start }}-{{ urok.end }}</td> <td align="center" width="36%"> {{ urok.lesson_id.teacher.familiya }} {{ urok.lesson_id.teacher.imya }} {{ urok.lesson_id.teacher.otchestvo }}</td>
                    <td align="center">{{ urok.lesson_id.room }}</td>
            </tr>
            {% endif %}
                </tr>
            {% endfor %}
        </tr>
    </table>

    <table class="Timetable_Monday" border="2" width=50% align="center">
        <tr bgcolor="#C0C0C0">
            <td colspan="4" align="center">
                <h3>Среда</h3>
            </td>
        </tr>
        <tr>
            {% for urok in lessons %}

            {% if urok.day_of_week == "3" %}
            <tr><td width="26%"><p>{{ urok.lesson_id.title }}</p></td>
                <td align="center" width="15%">{{ urok.start }}-{{ urok.end }}</td> <td align="center" width="36%"> {{ urok.lesson_id.teacher.familiya }} {{ urok.lesson_id.teacher.imya }} {{ urok.lesson_id.teacher.otchestvo }}</td>
                    <td align="center">{{ urok.lesson_id.room }}</td>
            </tr>
            {% endif %}
                </tr>
            {% endfor %}
        </tr>
    </table>

    <table class="Timetable_Monday" border="2" bordercolor="red" width=50% align="center">
        <tr bgcolor="#C0C0C0">
            <td colspan="4" align="center">
                <h3>Четверг</h3>
            </td>
        </tr>
        <tr>
            {% for urok in lessons %}

            {% if urok.day_of_week == "4" %}
            <tr><td width="26%"><p>{{ urok.lesson_id.title }}</p></td>
                <td align="center" width="15%">{{ urok.start }}-{{ urok.end }}</td> <td align="center" width="36%"> {{ urok.lesson_id.teacher.familiya }} {{ urok.lesson_id.teacher.imya }} {{ urok.lesson_id.teacher.otchestvo }}</td>
                    <td align="center">{{ urok.lesson_id.room }}</td>
            </tr>
            {% endif %}
                </tr>
            {% endfor %}
        </tr>
    </table>

    <table class="Timetable_Monday" border="2" width=50% align="center">
        <tr bgcolor="#C0C0C0">
            <td colspan="4" align="center">
                <h3>Пятница</h3>
            </td>
        </tr>
        <tr>
            {% for urok in lessons %}

            {% if urok.day_of_week == "5" %}
            <tr><td width="26%"><p>{{ urok.lesson_id.title }}</p></td>
                <td align="center" width="15%">{{ urok.start }}-{{ urok.end }}</td> <td align="center" width="36%"> {{ urok.lesson_id.teacher.familiya }} {{ urok.lesson_id.teacher.imya }} {{ urok.lesson_id.teacher.otchestvo }}</td>
                    <td align="center">{{ urok.lesson_id.room }}</td>
            </tr>
            {% endif %}
                </tr>
            {% endfor %}
        </tr>
    </table>

    <table class="Timetable_Monday" border="2" width=50% align="center">
        <tr bgcolor="#C0C0C0">
            <td colspan="4" align="center">
                <h3>Суббота</h3>
            </td>
        </tr>
        <tr>
            {% for urok in lessons %}

            {% if urok.day_of_week == "6" %}
            <tr><td width="26%"><p>{{ urok.lesson_id.title }}</p></td>
                <td align="center" width="15%">{{ urok.start }}-{{ urok.end }}</td> <td align="center" width="36%"> {{ urok.lesson_id.teacher.familiya }} {{ urok.lesson_id.teacher.imya }} {{ urok.lesson_id.teacher.otchestvo }}</td>
                    <td align="center">{{ urok.lesson_id.room }}</td>
            </tr>
            {% endif %}
        </tr>
            {% endfor %}
    </table>


{% endblock %}