{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body link="white" vlink="white" alink="white">
<table border="0px">
    <tr>
        <td bgcolor="black" width=25%>
            <img src="{% static 'static/img/logo.png' %}" alt="Лого" width="5%">
            <h1 align="center" class="menu">Меню</h1>
            <br>
            <ul>
                <li><a href="/"><h2 class="meny">Расписнание</h2></a></li>
                <li><a href="/task"><h2 class="meny">Задачи</h2></a></li>
                <li><a href=""><h2 class="meny">Чат</h2></a></li>
            </ul>

        </td>
        <td>
            {% block content %}
            {{tasks}},
            {{events}}
            {% endblock %}
        </td>
    </tr>
</table>
</body>
</html>