{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<upwardly>
    <table align="center" bgcolor="#708090" width=100%>
        <tr>
            <ul>
                <td><a href="/"><li display: inline-block><i class="fa-solid fa-calendar-days"></i><h3> Расписнание</h3></li></a></td>
                <td><a href="/task"><li display: inline-block><i class="fa-regular fa-clipboard-list-check"></i><h3> Задачи</h3></li></a></td>
                <td><a href=""><li display: inline-block><i class="fa-brands fa-rocketchat"></i><h3> Чат</h3></li></a></td>
            </ul>
        </tr>
    </table>
</upwardly>
<main>
    {% block content %}
    {{tasks}},
    {{events}}
    {% endblock %}
</main>
</body>
</html>