{% extends 'tasks_events/layout.html' %}

{% block title %}Задачи и мероприятия{% endblock %}

{% block content %}
<br>
    <h1 align="center">Задачи</h1> <br>
    <table  class="Tasks" border="2" width=60% align="center">
        <tr bgcolor="#C0C0C0">
            <td>
                <h3 align="center">Задача</h3>
            </td>
            <td>
                <h3 align="center">Ответственный</h3>
            </td>
            <td>
                <h3 align="center">Описание</h3>
            </td>
            <td>
                <h3 align="center">Срок</h3>
            </td>
            <td>
                <h3 align="center">Статус</h3>
            </td>
        </tr>
        <tr>
            {% for task in tasks %}
            <tr><td align="center"><p>{{ task.title }}</td>
                <td align="center">{{ task.owner }}</td> <td align="center"> {{ task.description }}</td><td align="center">{{ task.deadline }}</td><td align="center">{{ task.status }}</td>
            </p></tr></tr>
            {% endfor %}
        </tr>
    </table>

<br>

    <h1 align="center">Мероприятия</h1> <br>
    <table  class="Tasks" border="2" width=60% align="center">
        <tr bgcolor="#C0C0C0">
            <td>
                <h3 align="center">Мероприятие</h3>
            </td>
            <td>
                <h3 align="center">Дата проведения</h3>
            </td>
            <td>
                <h3 align="center">Место проведения</h3>
            </td>
        <tr>
            {% for event in events %}
            <tr><td align="center"><p>{{ event.title }}</td>
                <td align="center">{{ event.date }}</td> <td align="center"> <p>Актовый зал</p></td>
            </p></tr></tr>
            {% endfor %}
        </tr>
    </table>

{% endblock %}