{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/relases/v5.15.0/css/all.css">
    <style>
     ul.hr {
      margin: 0; /* Обнуляем значение отступов */
      padding: 4px; /* Значение полей */
     }
     ul.hr li {
      display: inline; /* Отображать как строчный элемент */
      margin-right: 5px; /* Отступ слева */
      border: 1px solid #000; /* Рамка вокруг текста */
      padding: 3px
     }

    </style>
</head>
<body>
<upwardly>
    <ul>
        <a href=""><li display: inline-block><i class="fa-solid fa-calendar-days"></i> Расписнание</li></a>
        <a href=""><li display: inline-block><i class="fa-regular fa-clipboard-list-check"></i> Задачи</li></a>
        <a href=""><li display: inline-block><i class="fa-brands fa-rocketchat"></i> Чат</li></a>
    </ul>
</upwardly>
<main>
    {% block content %}
    {{lessons}}
    {% endblock %}
</main>

</body>
</html>